<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repository" type="cn.tdr.policeequipment.configuration.ConfigurationSectionHandler,cn.tdr.policeequipment.configuration" requirePermission="true"/>
  </configSections>
  <connectionStrings>
    <add name="OracleDbContext" providerName="" connectionString=""/>
  </connectionStrings>

  <!--数据仓储配置-->
  <repository>
    <owner>U_JXGK</owner>
    <connectionString>OracleDbContext</connectionString>
  </repository>
  
</configuration>