
<input type="hidden" id="bdOfficerId" name="bdOfficerId" />
<input type="hidden" id="bdOrgId" name="bdOrgId" />
<input type="hidden" id="bdPtpId" name="bdPtpId" />
<div class="x-form-row" style="padding:5px;">
    <input id="bdCateId" name="bdCateId" style="width:100%;height:26px" class="easyui-combotree"
           data-options="prompt:'选择警械类型 ...',required:true,onChange:reloadBindEq" />
</div>
<div class="x-form-row" style="padding:5px;">
    <input id="bdStgId" name="bdStgId" style="width:100%;height:26px" class="easyui-combotree"
           data-options="prompt:'选择警械库 ...',required:true,onChange:reloadBindEq" />
</div>
<div class="x-form-row" style="padding:5px;">
    <input id="bdEqtId" name="bdEqtId" style="width:100%;height:26px" class="easyui-combotree"
           data-options="prompt:'选择警械 ...',required:true" />
</div>
<div class="x-form-row" style="padding:5px;">
    <input id="bdCabId" name="bdCabId" style="width:100%;height:26px" class="easyui-combotree"
           data-options="prompt:'选择绑定警械柜 ...'" />
</div>