@using cn.tdr.policeequipment.web.Models
@model TableMenuHeaderModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialTreeGrid",
    new TreeGridPageModel<TableTreeHeaderModel>
    {
        dataAction = Url.Action("GetData"),
        fieldTree = Model.title,
        headerPartialPage = "_PartialMenuTableRow",
        isAddTop=true,
        topAddAction = "onAdd()",
        tableHeight = ViewBag.ViewHeight,
        headerPartialPageModel = new GridRowModel<TableTreeHeaderModel>
        {
            headerModel = Model,
            actionFormart = "fmtOper"
        },
        formModel = new GridEditFormModel
        {
            formPartialPage = "_PartialMenuForm",
            formAction = Url.Action("FormSubmit"),
            formModel = Model
        }
    })

@section scripts{
    <script type="text/javascript">

        function formDefaultData(opts) {
            var defaults = {
                id: null,
                title: null,
                src: '/',
                order: 0,
                remark: null,
                parentId: null
            };
            $.extend(defaults, opts);
            return defaults;
        }

        function showFormDlg(data) {
            //$('#parentId').combobox("disable");
            if (!!data) {
                form().form('load', data);
                xdlg.open();
            }
        }

        function onAdd(id) {
            var data = formDefaultData();
            if (!!id) {
                data.parentId = id;
            }
            showFormDlg(data);
        }

        function onAddSub(e, id) {
            onAdd(id);
        }

        function getFormData(id, row) {
            var data = null;
            if (id == row.id) {
                row.parentId = row._parentId;
                data = formDefaultData(row);
            }
            return data;
        }

        function onEdit(e, id) {
            var formData = undefined;
            var data = grid().treegrid('getData');
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                formData = getFormData(id, row);
                if (!!formData) {
                    break;
                }

                if (!!row.children) {
                    for (var j = 0; j < row.children.length; j++) {
                        var item = row.children[j];
                        formData = getFormData(id, item);
                        if (!!formData) {
                            break;
                        }
                    }
                }

                if (!!formData) {
                    break;
                }
            }
            showFormDlg(formData);
        }

        function onDel(e, id, title) {

            $.messager.confirm('删除：', '是否删除菜单: ' + title + ' ?', function (r) {
                if (!!r) {
                    $.post('@Url.Action("Remove")', { id: id }, function (data) {
                        if (!data.code && data.code == 0) {
                            grid().treegrid('reload');
                        }
                    });
                }
            });
        }

        function fmtOper(val, row) {
            var html = "";
            html += '<a href="javascript:void(0)" style="color:red;" onclick="onDel(this, \'' + val + '\', \'' + row.title + '\');return false;" class="easyui-linkbutton" data-options="plain:true">删除</a>\
                     <a href="javascript:void(0)" style="color:red;" onclick="onEdit(this, \'' + val + '\');return false;" class="easyui-linkbutton" data-options="plain:true">编辑</a>';
            if (!row._parentId) {
                html += '<a href="javascript:void(0)" style="color:red;margin-left:5px;" onclick="onAddSub(this, \'' + val + '\');return false;" class="easyui-linkbutton" data-options="plain:true">添加</a>';
            }
            return html;
        }

        // 加载表格数据参数 
        setQueryParams();

    </script>
}