
@using cn.tdr.policeequipment.web.Models
@model object
@{
    var header = Model as TableOrgHeaderModel;
}

<div id="x-parentId" class="x-form-row">
    <input id="parentId" name="parentId" style="width:100%;height:26px" class="easyui-combotree"
           data-options="url:'@Url.Action("Tree")',method:'get',prompt:'上一级组织机构 ...'" />
</div>
<div class="x-form-row" style="padding:3px;">
    <input id="name" name="name" class="easyui-textbox"
           data-options="prompt:'组织机构名称 ...',required:true"
           style="width:100%;height:26px" />
</div>
<div class="x-form-row" style="padding:3px;">
    <input id="code" name="code" class="easyui-textbox" value="/"
           data-options="prompt:'组织机构代码 ...',required:true"
           style="width:100%;height:26px" />
</div>