@using cn.tdr.policeequipment.web.Models
@model TableOrgHeaderModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialTreeGrid",
    new TreeGridPageModel<TableTreeHeaderModel>
    {
        dataAction = Url.Action("GetData"),
        fieldTree = Model.name,
        formModel = new GridEditFormModel
        {
            formPartialPage = "_PartialOrgForm",
            formAction = Url.Action("FormSubmit"),
            formModel = Model
        },
        headerPartialPage = "_PartialOrgTableRow",
        headerPartialPageModel = new GridRowModel<TableTreeHeaderModel>
        {
            actionFormart = "fmtOper",
            headerModel = Model
        },
        isAddTop = true,
        tableHeight = ViewBag.ViewHeight,
        topAddAction = "onAdd()"
    })

@section scripts{
    <script type="text/javascript">

        function formDefaultData(data) {
            var defaults = {
                id: null,
                name: null,
                code: null,
                parentId: null
            };
            $.extend(defaults, data);
            return defaults;
        }

        function showFormDlg(data) {
            if (!!data) {
                form().form('load', data);
                xdlg.open();
            }
        }

        function onAdd(id) {
            var data = formDefaultData();
            if (!!id) {
                data.parentId = id;
            }
            showFormDlg(data);
        }

        function onDel(e, id, name) {
            $.messager.confirm('删除：', '是否删除组织机构: ' + name + ' ?', function (r) {
                if (!!r) {
                    $.post('@Url.Action("Remove")', { id: id }, function (data) {
                        if (!data.code && data.code == 0) {
                            grid().treegrid('reload');
                        }
                    });
                }
            });
        }

        function getFormData(id, row)
        {
            var data = null;
            if (id == row.id) {
                row.parentId = row._parentId;
                data = formDefaultData(row);
            }
            return data;
        }

        function onEdit(e, id) {
            var formData = undefined;
            var data = grid().treegrid('getData');
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                formData = getFormData(id, row);
                if (!!formData) {
                    break;
                }

                if (!!row.children) {
                    for (var j = 0; j < row.children.length; j++) {
                        var item = row.children[j];
                        formData = getFormData(id, item);
                        if (!!formData) {
                            break;
                        }
                    }
                }

                if (!!formData) {
                    break;
                }
            }
            showFormDlg(formData);
        }

        function onAddSub(e, id) {
            onAdd(id);
        }

        function fmtOper(val, row) {
            var html = '<a href="javascript:void(0)" style="color:red;" onclick="onDel(this, \'' + val + '\', \'' + row.name + '\');return false;" class="easyui-linkbutton" data-options="plain:true">删除</a>\
                     <a href="javascript:void(0)" style="color:red;" onclick="onEdit(this, \'' + val + '\');return false;" class="easyui-linkbutton" data-options="plain:true">编辑</a>\
                     <a href="javascript:void(0)" style="color:red;" onclick="onAddSub(this, \'' + val + '\');return false;" class="easyui-linkbutton" data-options="plain:true">添加</a>';

            return html;
        }
    </script>
}
