@using cn.tdr.policeequipment.web.Models
@model TableUserHeaderModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialDataGrid",
    new DataGridPageModel<TableHeaderModel>
    {
        dataAction = Url.Action("GetData"),
        formModel = new GridEditFormModel
        {
            formPartialPage = "_PartialUserForm",
            formAction = Url.Action("FormSubmit"),
            formModel = Model
        },
        headerPartialPage = "_PartialUserTableRow",
        headerPartialPageModel = new GridRowModel<TableHeaderModel>
        {
            actionFormart = "fmtOper",
            headerModel = Model
        },
        options = ",autoRowHeight:false,pageSize:20,view:scrollview",
        toolbarPartialPage = "_PartialUserTablebar",
        tableHeight = ViewBag.ViewHeight
    })

@section scripts{
<script type="text/javascript" src="@Url.Content("~/Scripts/easyui/datagrid-scrollview.js")"></script>
<script type="text/javascript">

    function fmtStatus(val, row) {
        if (val == 0) {
            return "正常 ";
        }

        if (val == -1) {
            return "异常";
        }

        if (val == -2) {
            return "锁定";
        }

        return "未知";
    }

    function fmtCategoru(val, row)
    {
        if (val == 1) {
            return "超级管理员";
        }

        if (val == 2) {
            return "分支管理员";
        }

        if (val == 3) {
            return "普通用户";
        }

        return "未知";
    }

    function fmtDate(val, row) {
        var date = new Date(val/10000);
        return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
    }

    function onDel(e, id, name) {
        var defaults = {
            name: name,
            url: '@Url.Action("Remove")',
            queryParams: { id: id }
        };
        onDelHd(defaults);
    }

    function onEdit(e, val) {

        var data = grid().datagrid('getData');
        for (var i = 0; i < data.rows.length; i++) {
            var row = data.rows[i];
            if (!!row.id && row.id == val) {
                showFormDlg(row);
                break;
            }
        }
    }

    function fmtOper(val, row) {
        var html = '<a href="javascript:void(0)" style="color:red;" onclick="onDel(this, \'' + val + '\', \'' + row.account + '\');return false;" class="easyui-linkbutton" data-options="plain:true">删除用户</a>\
                    <a href="javascript:void(0)" style="color:red;" onclick="onEdit(this, \'' + val + '\');return false;" class="easyui-linkbutton" data-options="plain:true">编辑用户</a>';
        return html;
    }

    function queryClick() {
        grid().datagrid('load');
    }

    function queryClear() {
        $("#queryOrgId").combotree('setValue', '');
        $("#queryRoleId").combotree('loadData', []);
    }

    function toggleOrgAndRole(isShow) {
        var orgPanel = $("#x-orgId-panel");
        var rlePanel = $("#x-roleId-panel");
        if (!!isShow) {
            orgPanel.show();
            rlePanel.show();
        } else {
            orgPanel.hide();
            rlePanel.hide();
        }
    }

    function showFormDlg(data) {
        var defaults = {
            orgId: null, roleId: null, category: 3, name: null, id: null
        };
        $.extend(defaults, data);
        defaults.name = defaults.account;
        if (defaults.category == 1) {
            defaults.orgId = null;
            defaults.roleId = null;
            toggleOrgAndRole(false);
        }

        function cb(id, orgId, data) {
            form().form('load', defaults);
            xdlg.open();
        }

        var rolePanelId = '#roleId';
        if (!!defaults.orgId) {
            loadRoleTreeData(rolePanelId, defaults.orgId, cb);
        } else {
            cb();
        }
    }

    function addClick() {
        showFormDlg();
    }

    function comboCateChanged(newVal, oldVal) {
        toggleOrgAndRole(newVal != 1);
    }

    function comboSelect(id) {

        function cb(node) {
            loadRoleTreeData(id, node.id, function (id) {
                $(id).combotree('setValue', '');
            });
        }
        return cb;
    }

    function comboOrgChanged(id) {

        function cb(newVal, oldVal) {
            loadRoleTreeData(id, newVal, function (id) {
                $(id).combotree('setValue', '');
            });
        }
        return cb;
    }

    function loadRoleTreeData(id, orgId, cb) {
        $.get('@Url.Action("Tree", "Role")', { orgId: orgId }, function (data) {
            $(id).combotree('loadData', data);

            if (cb instanceof Function) {
                cb(id, orgId, data);
            }
        });
    }

    setQueryParams({
        queryOrgId: function () { return $('#queryOrgId').val(); },
        queryRoleId: function () { return $('#queryRoleId').val(); },
        tt: function () { return (new Date()).getTime(); }
    });
</script>
}