
<div id="x-map-selector" class="easyui-window" title="GPS 地图选择器"
     style="width:70%;height:80%;padding:10px;"
     data-options="collapsible:false,minimizable:false,maximizable:false,draggable:false,resizable:false,modal:true,closed:true,footer:'#x-map-selector-footer',onOpen:onMapWndOpen">
    <div style="position:absolute; top:35px;left:50px; width:200px;">
        
    </div>
</div>
<div id="x-map-selector-footer" style="padding:5px;">
    <input id="x-gps-val" class="easyui-textbox"
           data-options="readonly:true,prompt:'请在地图上选择位置 ... '"
           style="width:70%;height:23px;">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="onBtnSelectClick();return false;"
       style="text-align:center;vertical-align:middle; height:23px;line-height:23px;">选择 ... </a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="xmwd.close(); return false;"
       data-options="iconCls:'icon-ok'"
       style="text-align:center;vertical-align:middle; height:23px;line-height:23px;">确定</a>
</div>
<script type="text/javascript">
    var xmwd = (function (id) {
        var cbHd = null;
        var wnd = {
            id: id,
            point: {lat:0, lon:0},
            map: null,
            open: function (opts) {
                var defaults = {
                    lon: 0,
                    lat: 0,
                    cb: function (coord) { }
                };
                $.extend(defaults, opts);
                $.extend(wnd.point, defaults);

                cbHd = defaults.cb;
                $('#' + id).window('open');
            },
            close: function () {
                if (cbHd instanceof Function) {
                    cbHd(wnd.getSelectGps());
                }
                $('#' + id).window('close');
            },
            // 获取选中点的 GPS 坐标
            getSelectGps: function () {
                var defaults = {
                    lon: 0, lat: 0
                };
                var coords = $('#x-gps-val').textbox('getValue').split(',');
                if (coords.length == 2) {
                    defaults.lon = coords[0];
                    defaults.lat = coords[1];
                }
                return defaults;
            }
        };
        return wnd;
    })('x-map-selector');

    function onMapWndOpen() {
        if (!xmwd.map) {
            xmwd.map = new EzMap(document.getElementById(xmwd.id));
        }
        // 清除图层内容
        xmwd.map.clear();
        setGpsValue();
        
        moveToPoint(xmwd.point);
    }

    function moveToPoint(point) {
        var defaults = { lat: 0, lon: 0 };
        $.extend(defaults, point);

        if (!!defaults.lat && !!defaults.lon) {
            setGpsValue(defaults.lon + ',' + defaults.lat);
            var vPoint = new Point(defaults.lon, defaults.lat);
            drawMarket(vPoint);
            xmwd.map.centerAtLatLng(vPoint);
        }
    }

    function setGpsValue(coord) {
        $('#x-gps-val').textbox('setValue', coord);
    }

    function drawMarket(point) {
        var pIcon = new Icon();
        pIcon.height = 28;
        pIcon.width = 19;
        pIcon.topOffset = -14;
        pIcon.leftOffset = 0;
        pIcon.image = "@Url.Content("~/Content/img/mapPosition/thumbtack.png")";
        var marker = new Marker(point, pIcon, null);
        xmwd.map.addOverlay(marker);
    }

    function onBtnSelectClick() {
        xmwd.map.changeDragMode('drawPoint', null, null, function (coord) {
            // 清除之前的图层
            xmwd.map.clear();

            // 标注
            var pPoint = new Point(coord.toString());
            drawMarket(pPoint);

            // 设置传回的 GPS 值
            setGpsValue(coord);
        });
    }

</script>