
<input id="queryTagId" name="queryTagId" class="easyui-textbox"
       data-options="prompt:'标签 ...'" style="width:10%;height:26px" />
<input id="queryFacCode" name="queryFacCode" class="easyui-textbox"
       data-options="prompt:'出厂编码 ...'" style="width:10%;height:26px" />
<input id="queryOrgId" name="queryOrgId" style="width:20%;height:26px" class="easyui-combotree"
       data-options="url:'@Url.Action("Tree", "Org")',method:'get',prompt:'选择组织机构 ...'" />
<input id="queryStgId" name="queryStgId" style="width:15%;height:26px" class="easyui-combotree"
       data-options="prompt:'选择警械库 ...'" />
<input id="queryCabId" name="queryCabId" style="width:15%;height:26px" class="easyui-combotree"
       data-options="prompt:'选择警械柜 ...'" />
<input id="queryDtpId" name="queryDtpId" style="width:10%;height:26px" class="easyui-combotree"
       data-options="prompt:'选择数据类型 ...',data:dataTypeTreeData" />
<a href="javascript:void(0);" onclick="grid().datagrid('load');" class="easyui-linkbutton" iconCls="icon-search">查询</a>
<a href="javascript:void(0);" onclick="queryClear()" class="easyui-linkbutton">清除</a>
<a href="javascript:void(0);" onclick="showFormDlg()" class="easyui-linkbutton">新增警械</a>
